USE [J3LP0013]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 2/7/2021 9:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[name] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[telephone] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[opening] [nvarchar](max) NOT NULL,
	[mapPhoto] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 2/7/2021 9:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[icon] [nvarchar](50) NOT NULL,
	[link] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2/7/2021 9:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sushi]    Script Date: 2/7/2021 9:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sushi](
	[id] [int] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sushi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Information] ([name], [address], [telephone], [email], [opening], [mapPhoto]) VALUES (N'The Sushi Restaurant', N'New York, NY, USA', N'123456879', N'thinh@gmail.com', N'Monday Closed
Tuesday 12 - 22
Wednesday 12 - 22
Thursday 12 - 22
Friday 11 - 23
Saturday 11 - 23
Sunday 11 - 22', N'map.png')
GO
INSERT [dbo].[Media] ([id], [name], [icon], [link]) VALUES (1, N'Share on Facebook', N'fb.png', N'https://www.facebook.com/ng0cth1nh')
INSERT [dbo].[Media] ([id], [name], [icon], [link]) VALUES (2, N'Share on Twitter', N'tw.png', N'https://twitter.com/JoeBiden')
INSERT [dbo].[Media] ([id], [name], [icon], [link]) VALUES (3, N'Share on Google+', N'go.png', N'https://twitter.com/JoeBiden')
GO
INSERT [dbo].[Menu] ([id], [name], [title], [price], [description]) VALUES (1, N'Menu 1', N'Claritas est etiam processus', 25, N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.')
INSERT [dbo].[Menu] ([id], [name], [title], [price], [description]) VALUES (2, N'Menu 2', N'Duis autem vel eum iriure dolor.', 15, N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.')
INSERT [dbo].[Menu] ([id], [name], [title], [price], [description]) VALUES (3, N'Menu 2', N'Duis autem vel eum iriure dolor.', 15, N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.')
GO
INSERT [dbo].[Sushi] ([id], [title], [description], [photo]) VALUES (1, N'24 types of sushi rolls', N'asdf', N'homeSushi.png')
GO
