/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2021, 11:36:41 PM
    Author     : Vu Ngoc Thinh
*/

.container{
    height: 1185px;
    margin-bottom: 30px;
}
.main-container{
    height: 935px;
}

.infor-wrapper{
    display: flex;
    border-bottom: dotted 3px #c7c7c7; 
}
.left, .right{
    width: 50%;
    height: 250px;
}

.tel-wrapper, .email-wrapper{
    height: 32px;
    margin: 20px 0;
}
.label{
    width: 60px;
    margin-right: 20px;
}
#telephone{
    margin-left: 17px;
}

.opening-wrapper{
    width: 150px;
}
.opening{
    line-height: 22px;
}
#map{
    margin: 40px 0;
    width: 100%;
}